.wrapper {
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

.header__search_wrapper {
	margin: 10px 0;
}

button {
	margin: 10px 0;
	outline: none;
	padding: 5px 10px;
	box-sizing: border-box;
	border: 1px solid grey;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

button:hover {
	cursor: pointer;
	border-radius: 5px;
	border-color: mediumturquoise;
}

.main__filter_complete {
	background-color: lightgreen;
}

.main__filter_unfulfilled {
	background-color: brown;
}

.main__addTask_button {
	background-color: aquamarine;
	display: block;
	margin: 10px auto;
}

.main__task_wrapper {
	border: 1px solid grey;
	margin: 5px 0;
	padding-bottom: 5px;
	position: relative;
	height: 115px;
	z-index: 3;
	background-color: #ffffff;
}

.main__task_wrapper p,
.main__task_wrapper h3 {
	width: fit-content;
	height: fit-content;
	margin: 10px auto;
}



.main__task_layout {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.main__task_wrapper button {
	background-color: aquamarine;
}

.main__edit_wrapper {
	margin-top: 30px;
}

.main__edit_save {
	display: block;
	margin: 5px auto 0;
	background-color: aquamarine;
}

.main__filter_wrapper button:not(:last-child) {
	margin-right: 5px;
}

.main__reset {
	background-color: gold;
}